---
- name: Install ZFS from backports
  ansible.builtin.apt:
    name: zfsutils-linux
    state: present
    default_release: "{{ ansible_distribution_release }}-backports"
  notify: Reboot system

- name: Copy over ZFS key load service
  ansible.builtin.copy:
    src: files/zfs-load-key.service
    dest: /etc/systemd/system/zfs-load-key.service
    group: root
    owner: root
    mode: "0644"

- name: Enable ZFS key load service
  ansible.builtin.service:
    name: zfs-load-key
    enabled: true
