---
- name: Install Linux headers for current kernel
  ansible.builtin.apt:
    name: linux-headers-{{ ansible_kernel }}
    state: present
    update_cache: true

- name: Install NVIDIA driver
  ansible.builtin.apt:
    package:
      - nvidia-open-kernel-dkms
      - nvidia-driver
      - firmware-misc-nonfree
    state: present
    update_cache: true
  notify: Reboot system

- name: Configure NVIDIA Docker Container Toolkit
  when: nvidia_docker_enabled | default(false) | bool
  block:
    - name: Add NVIDIA CTK repo
      ansible.builtin.deb822_repository:
        name: nvidia-ctk
        types: deb
        uris: https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH)
        suites: '/'
        signed_by: https://nvidia.github.io/libnvidia-container/gpgkey

    - name: Install NVIDIA Docker Container Toolkit base
      ansible.builtin.apt:
        package: nvidia-container-toolkit
        state: present
        update_cache: true
      notify: Reboot system

    - name: Copy over Docker daemon config
      ansible.builtin.copy:
        src: files/daemon.json
        dest: /etc/docker/daemon.json
        group: root
        owner: root
        mode: "0644"
      notify: Restart docker

    - name: Copy over Nvidia CDI regeneration udev rule
      ansible.builtin.copy:
        src: files/70-nvidia-ctk.rules
        dest: /lib/udev/rules.d/70-nvidia-ctk.rules
        group: root
        owner: root
        mode: "0644"
