---
- name: Install Linux headers
  ansible.builtin.apt:
    name: linux-headers-amd64
    state: present
    update_cache: true

- name: Enable contrib repository
  ansible.builtin.apt_repository:
    repo: deb http://deb.debian.org/debian {{ ansible_distribution_release }} contrib
    state: present
    update_cache: false

# Doesn't support debian13 for some reason?
- name: Install CUDA keyring package
  ansible.builtin.apt:
    deb: https://developer.download.nvidia.com/compute/cuda/repos/debian12/x86_64/cuda-keyring_1.1-1_all.deb
    state: present

- name: Install NVIDIA driver with open kernel modules
  ansible.builtin.apt:
    name:
      - nvidia-driver-cuda
      - nvidia-kernel-open-dkms
    update_cache: true
    state: present
  notify: Reboot system

- name: Configure NVIDIA Docker Container Toolkit
  when: nvidia_docker_enabled | default(false) | bool
  block:
    - name: Add NVIDIA CTK repo
      ansible.builtin.deb822_repository:
        name: nvidia-ctk
        types: deb
        uris: https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH)
        suites: '/'
        signed_by: https://nvidia.github.io/libnvidia-container/gpgkey

    - name: Install NVIDIA Docker Container Toolkit base
      ansible.builtin.apt:
        package: nvidia-container-toolkit
        state: present
        update_cache: true
      notify: Reboot system

    - name: Copy over Docker daemon config
      ansible.builtin.copy:
        src: files/daemon.json
        dest: /etc/docker/daemon.json
        group: root
        owner: root
        mode: "0644"
      notify: Restart docker
