- name: Configure observability
  hosts: all
  become: true
  pre_tasks:
    - name: Scan for SMART-capable drives
      ansible.builtin.command: smartctl --scan
      register: smartctl_output
      changed_when: false
  roles:
    - role: prometheus.prometheus.node_exporter
    - role: prometheus.prometheus.smartctl_exporter
      when:
        - ansible_virtualization_role != "guest"
        - smartctl_output.stdout_lines | length != 0
    - role: prometheus.prometheus.nvidia_gpu_exporter
      when: inventory_hostname in groups['nvidia']
  tasks:
    - name: Create Alloy directory
      ansible.builtin.file:
        name: "/etc/alloy"
        mode: "0755"
        owner: root
        group: root
        state: directory

    - name: Template Alloy configs
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "0644"
        owner: root
        group: root
      notify: restart alloy
      loop: "{{ alloy_configs | default([]) }}"

    - name: Template Alloy Nvidia scrape configs
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "0644"
        owner: root
        group: root
      notify: restart alloy
      loop:
        - { src: 'templates/config.alloy.nvidia.j2', dest: '/etc/alloy/nvidia.alloy' }
      when: inventory_hostname in groups['nvidia']

    - name: Template Alloy SMART configs
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "0644"
        owner: root
        group: root
      notify: restart alloy
      loop:
        - { src: 'templates/config.alloy.smartctl.j2', dest: '/etc/alloy/smartctl.alloy' }
      when:
        - ansible_virtualization_role != "guest"
        - smartctl_output.stdout_lines | length != 0

    - name: Remove custom Alloy config
      ansible.builtin.file:
        path: /etc/alloy/custom.alloy
        state: absent
      notify: restart alloy

    - name: Run Alloy role
      ansible.builtin.import_role:
        name: grafana.grafana.alloy
      vars:
        alloy_env_file_vars:
          CUSTOM_ARGS: "--server.http.listen-addr=0.0.0.0:12345"
          CONFIG_FILE: "/etc/alloy/"
        alloy_systemd_override: |
          [Service]
          User=root
