- name: Configure exporters
  hosts: all
  become: true
  pre_tasks:
    - name: Ensure smartmontools is installed
      ansible.builtin.package:
        name: smartmontools
        state: present
    - name: Scan for SMART-capable drives
      ansible.builtin.command: smartctl --scan
      register: smartctl_output
      changed_when: false
  roles:
    - role: prometheus.prometheus.node_exporter
    - role: prometheus.prometheus.cadvisor
    - role: prometheus.prometheus.smartctl_exporter
      when:
        - ansible_facts['virtualization_role'] != "guest"
        - smartctl_output.stdout_lines | length != 0
    - role: prometheus.prometheus.nvidia_gpu_exporter
      when: inventory_hostname in groups['nvidia']

- name: Configure Alloy
  hosts: all
  become: true
  roles:
    - role: alloy
