// Docker Discovery (shared by both Prometheus and Loki)
discovery.docker "linux" {
	host = "unix:///var/run/docker.sock"
}

discovery.relabel "docker_log_relabel" {
	targets = discovery.docker.linux.targets
	rule {
		source_labels = ["__meta_docker_container_name"]
		regex         = "/(.*)"
		target_label  = "container_name"
	}
	rule {
		source_labels = ["__meta_docker_container_label_com_docker_compose_project"]
		target_label  = "project_name"
	}
}
